#box-0{
	width:100px;
	height:100px;
	margin:10px;
	background-color: orange;
}
#box-1{
	width:100px;
	height:100px;
	margin:10px;
	background-color: purple;
}
#box-2{
	
	width:100px;
	height:100px;
	margin:10px;
	background-color: red;

}