.container.paid-posts .post{
padding:10px;
background-color: red
}
.container .post{
	padding:10px;
	background-color: yellow

}
.container .post ,.container.paid-posts .post{
background-color: blue;
}
 p#one{
 	color: green

 }
 p#two{
 	color: green
 	
 
